/*CSS RESET*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    line-height: 1;
    font-family: 'Poppins';
    font-style: normal;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

nav ul,
ul {
    list-style: none;
    text-decoration: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
}


/* change colours to suit your needs */

ins {
    background-color: #ff9;
    color: #000;
    text-decoration: none;
}


/* change colours to suit your needs */

mark {
    background-color: #ff9;
    color: #000;
    font-style: italic;
    font-weight: bold;
}

del {
    text-decoration: line-through;
}

abbr[title],
dfn[title] {
    border-bottom: 1px dotted;
    cursor: help;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


/* change border colour to suit your needs */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #cccccc;
    margin: 1em 0;
    padding: 0;
}

input,
select {
    vertical-align: middle;
}


/*header*/


/**
#logo a {
    position: fixed;
    left: 10px;
}

.nav {
    position: relative;
    left: 120px;
    top: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: right;
}

#topnav a {
    text-align: center;
    text-decoration: none;
    padding: 5px;
    text-decoration: none;
    font-size: 14px;
    color: #000;
}

#button {
    border: 2px solid #2196F3;
    padding: 3.45px;
    border-top: 0;
    border-right: 0;
    border-left: 0;
}

#button a {
    color: #2196F3;
}

.nav button {
    padding: 10px 10px;
    top: 32 px;
    background: #004AAD;
    border-radius: 4px;
}

#topnav img {
    padding: 20px
}


/*ABOUT US*

.about {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about h2 {
    font-weight: 900;
    font-size: 32px;
    line-height: 48px;
    margin-bottom: 50px;
}

.about p {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}


/*FOOTER*

.footer {
    width: 1206px;
    height: 382px;
    background: #ffffff;
    position: relative;
    left: 100px;
    top: 80px;
}


/*footer lead*

#lead {
    position: absolute;
    top: 200px;
    left: 20px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#lead img {
    margin-bottom: 20px;
    width: 128px;
    height: 36px;
}


/*footer explore*

#explore {
    position: absolute;
    top: 220px;
    left: 350px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#explore h5 {
    margin-bottom: -10px;
}

#explore a {
    color: black;
}


/*footer legal*

#legal {
    position: absolute;
    top: 220px;
    left: 600px;
}

#legal h5 {
    margin-bottom: 20px;
}


/*social*

#social {
    position: absolute;
    top: 220px;
    left: 900px;
}

#social img {
    width: auto;
    height: 40px;
    margin-top: 30px;
}

**/

@media (max-width: 900px) {
    /*mobile view*/
    #logo img {
        width: 79px;
        height: 25px;
        margin-bottom: 10px;
    }
    /*About*/
    .about {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .about h2 {
        position: absolute;
        text-align: center;
        width: 388px;
        height: 39px;
        top: 88px;
        font-weight: 600;
        font-size: 26px;
        line-height: 39px;
        text-align: center;
    }
    .about p {
        margin-top: 10px;
        position: relative;
        width: 389px;
        height: 510px;
        top: 51px;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
    }
    .footer {
        position: relative;
        width: 428px;
        height: 528px;
        top: 100px;
        background: #FFFFFF;
    }
    #lead img {
        position: relative;
        left: 20px;
    }
    #lead p {
        display: none;
    }
    #explore {
        position: relative;
        left: 20px;
    }
    #explore a {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4E6269;
    }
    #explore h5 {
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #4E6269
    }
    #explore p {
        margin-bottom: 15px;
    }
    #legal {
        position: absolute;
        left: 275px;
        top: 69px;
    }
    #legal h5 {
        margin-bottom: 15px;
        margin-bottom: 15px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #4E6269
    }
    #legal p {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4E6269;
    }
    #social h4 {
        position: relative;
        left: 20px;
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        color: #4E6269;
    }
    #social a {
        position: relative;
        left: 25px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: #4E6269;
        margin-bottom: 50px;
    }
    #social img {
        position: relative;
        width: 20px;
        height: 20px;
        left: -5px;
        top: 5px;
        align-items: center;
    }
}